name: Build and Publish Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch: # allows manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/unifi2netbox:latest
            ghcr.io/${{ github.repository_owner }}/unifi2netbox:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/unifi2netbox:${{ github.ref_name }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/unifi2netbox:latest
          cache-to: type=registry,mode=max,ref=ghcr.io/${{ github.repository_owner }}/unifi2netbox:latest
